*{
    padding: 0;
    margin: 0;
}



.navbar{
    border-bottom: solid 1px black;
    
    
}
.nav-link {
    margin: 0px 50px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px;
}


/*/ESTILO SECTION INDEX/*/

.titulo__index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 5px;
    padding: 10px
    ;
}

.titulo__index h2 {
    border-bottom: solid 2px black;
} 

.section__index {
    margin: 50px 25px;
    border-radius: 0.5%;
    background-color: rgb(54, 52, 52);
    padding: 25px;
    

}

/*/ESTILOS CARDS/*/

.card {
    margin: 15px 50px;
    
}

.img__index {
    height: 350px;
    ;

}

/*/ESTILOS IMG SLIDER/*/

.img__slider {
    height: 500px;
}

.section__slider{
    
    border-radius: 0.5;
    margin: 50px 25px;
    width: 80%;
    
    
}

.slider__sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(54, 52, 52);
    width: 100%;
}

/*/estilos section__bottom /*/

.section_bottom {
    margin: 50px 5px;
    background-color:rgb(54, 52, 52);
    
}

.img__bn {
    height: 200px;
    width: 300px;
}

/*/estilos footer /*/

footer {
    background-color: black;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*/estilos contacto/*/

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    border: solid 5px black;
}

input, textarea {
    margin: 10px;
    padding: 3px;
}

.section_contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px;
}

iframe {
    height: 600px;
    width: 800px;
}

/*/estilos prodcutos/*/

.section__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    border: solid 2px rgb(54, 52, 52);
    

}

.boton_producto {
    margin: 10px
}

.slider__producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(54, 52, 52);
    width: 100%;
}

.promociones {
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.div_productos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 2px rgb(54, 52, 52);
    border-radius: 1.5%;
    padding: 5px;
    margin: 10px;

}

.div_productos img {
    width: 100%;
}

.a_p {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 10px;
}

.a_p:hover{
    border-bottom: solid 1px black;

}

/*/mediaqueris/*/

@media (max-width:1500px) {
    .section_contacto {
        display: flex;
        flex-direction:column ;
        align-items: center;

    }

    form{
        width: 80%;
        margin: 15px;
        padding: 15px;
    }

    iframe {
        width: 80%;
    }
}





@media (max-width:1200px) {
    .section_contacto {
        display: flex;
        flex-direction:column ;
        align-items: center;

    }

    form{
        width: 100%;
        margin: 15px;
        padding: 15px;
    }

    iframe {
        width: 100%;
    }

    .promociones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px){
    form {
        width: 350px;
    }

    .section_contacto {
        display: flex;
        flex-direction:column ;
        align-items: center;

    }

    iframe {
        width: 350px;
    }

    iframe, form {
        margin: 5px;
    }
}